@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Love-Light";
  src: url("/fonts/LoveLight-Regular.ttf");
}

@font-face {
  font-family: "Pangolin";
  src: url("/fonts/Pangolin-Regular.ttf");
}

@font-face {
  font-family: "LoversQuarrel";
  src: url("/fonts/LoversQuarrel-Regular.ttf");
}

@font-face {
  font-family: "ProtestRevolution";
  src: url("/fonts/ProtestRevolution-Regular.ttf");
}

@keyframes floatUp {
  0% {
    transform: translateY(100vh); /* Start from below the screen */
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh); /* End above the screen */
    opacity: 0;
  }
}
